body {
  background-image: url(espaco-1500.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

img {
  max-width: 40%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
